.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.5rem;
  position: relative;
  z-index: 2;
}

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
}
.section-intro {
  background-color: $color-primary;
  position: relative;
  overflow: hidden;
  color: $color-white;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 10.5rem 0 18rem;
  }

  &__bg-pattern--right {
    position: absolute;
    top: -8rem;
    right: 0;
    width: 43.5rem;
    z-index: 10;
  }

  &__bg-pattern--left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  .hero {
    position: relative;
    z-index: 5;
  }
}

.section-features {
  background-color: $color-white;
  padding: 30.5rem 0 1rem;
  position: relative;
  margin-top: -33rem;

  .feature-cards {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section-find-more {
  padding: 15rem 0;
}

.footer {
  background-color: $color-grey-light;
  padding: 6.5rem 0;
  position: relative;
  overflow: hidden;

  &__bg-pattern {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 3.2rem;
    border-bottom: 1px $color-grey-violet solid;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4.5rem;

    & > * {
      margin-right: 19rem;
    }
  }
}
