// ### Primary

// - Dark Violet: hsl(256, 26%, 20%)
// - Grayish Blue: hsl(216, 30%, 68%)

// ### Neutral

// - Very Dark Violet: hsl(270, 9%, 17%)
// - Dark Grayish Violet: hsl(273, 4%, 51%)
// - Very Light Gray: hsl(0, 0%, 98%)

$color-primary: hsl(256, 26%, 20%);

$color-dark-violet: hsl(270, 9%, 17%);
$color-white: #fff;

$color-grey-light: hsl(0, 0%, 98%);
$color-grey-violet: hsl(273, 4%, 51%);
$color-grey-blue: hsl(216, 30%, 68%);

//MEDIA QUERIES

$mobile: 450px;
